.subrayado {
<<<<<<< HEAD
  color:#vilaboaPuto;
=======
  color:#00aa00;
  text-decoration:VILABOA2;
>>>>>>> 0e6bb47923a2b39af88dfc44d5d2a4db5c0bff75
}
.tachado {
  color:#00aa00;
  text-decoration:line-through;

}
