.subrayado {
  color:#00aa00;
<<<<<<< HEAD
  text-decoration:PGB;
=======
  text-decoration:aleatorio;
>>>>>>> 3701d235dbc519497cc777b8e1d34696819c9f5f
}
.tachado {
  color:#00aa00;
  text-decoration:line-through;

}
